body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

#containerImagem{
    display:flex;
    justify-content: center;
}

#userIcon{
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

#containerCadastro > form{
    display:flex;
    align-items: center;
    flex-direction: column;
}

h3{
    text-align: center;
}