@font-face {
    font-family: MinhaFonte;
    src: url(COMIC.TTF);
}

body{
    background-color: lightgray;
}

.contentbox1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    width: 99,5%;
    height: 150px; 
    border:3px solid darkblue;
}

#imagemc{
    width: 120px;
    height: 120px;
}

#imagemjava{
    width: 120px;
    height: 120px;
    
}

#titulo{
    color: darkgreen;
}

.links{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: lightskyblue;
    height: 50px;
}

.links a{
    color: darkred;
    text-decoration: none; 
    margin-left: 150px;
}

a:hover{
    text-decoration: underline;
}

h2{
    text-align: center;
}

p{
    text-align: center;
    color: indigo;
    font-size: 20pt;
    font-family: sans-serif;
}

.containerlivros{
    display:flex;
    justify-content: center;
}

#livro1{
    margin:60px;
}

#livro2{
    margin:60px;
}
#livro3{
    margin:60px;
}

.containervideos{
    display:flex;
    justify-content: center;
}

.containervideos iframe{
    width: 400px;
    height: 400px;
    margin: 60px;
}

.tabelacontatos{
    width:450px;
    height: 150px;
    margin: 0 auto;
    border:dashed 4px red;
    text-align: center;
}

.tabelacontatos td{
    border: solid 2px red;
}

#cabecalho{
    color: red;
    font-weight: bold;
}

.siteconsulta{
    width:500px;
    margin-left: 620px;
    margin-right: 300px;
    background-color: yellow;
}

.siteconsulta li a{
    padding-left: 100px;
    text-decoration: none;
    color: darkred;
}

li a:hover{
    text-decoration: underline;
}

h3{
    font-size: 15px;;
}



footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15pt;
    font-family: MinhaFonte;
    background-color: bisque;
    height: 75px;
}

#htmlfoto{

    width:75px;
    height: 75px;
}

#cssfoto{
    width:75px;
    height: 75px;;
}






