body{
    background-color: lightgray;
}

.contentbox1{
    background-color: bisque;
    width: 99,5%;
    height: 150px; 
    border:3px solid darkblue;
}

#imagemc{
    display:block;
    float: left;
    width: 120px;
    height: 120px;
}

#imagemjava{
    display: block;
    float: right;
    width: 120px;
    height: 120px;
    
}

#titulo{
    text-align: center;
    color: darkgreen;
}

.links{
    text-align: center;
    background-color: lightskyblue;

}

h2{
    text-align: center;
}

p{
    text-align: center;
    color: indigo;
    font-size: 20pt;
    font-family: sans-serif;
}

#livro1{
    margin-right: 100px;
}

#livro2{

    margin-right: 100px;
}

