body{
    background-color:skyblue;
    width: 100%;

}

h1{
    text-align: center;

}
#containerCadastro > form {
    display:flex;
    align-items: center;
    flex-direction: column;
}

#containerImagem{
    display:flex;
    justify-content: center;

}

#imagem{
   width:200px;
   height: 200px;
   border: 2px solid black;
}
